body{
    background-color: rgb(158, 195, 233);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    
    display: flex;

}

.cartao{

    margin: 1rem 1rem;
    background-color: aliceblue;
}